body {
    text-align: center;
    font-family: Arial, sans-serif;
}

h1 {
    margin-top: 20px;
}

.seating-plan {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    margin: 5px;
}

.typeSeat {
    margin-left: 35%;
    margin-right: 35%;
    padding: 5px 10px;
    border-radius: 5px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .typeSeat li {
    display: flex;
    align-items: center;
  }

.seat {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: #ccc;
    cursor: pointer;
}

.seat.selected {
    background-color: #039b93;
}

.seat.occupied {
    background-color: #c70505;
  }

.checkout {
    margin-top: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.screen {
    background-color: #524d4d;
    margin: 30px 0;
    width: 300px;
    height: 90px;
  }