body {
  font-family: sans-serif;
  background-color: #ffffffad;
  height: 400px;
  margin: 0;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #408576;
}

p {
  text-align: center;
}

.btn {
  color: #fff;
  background-color: #408576;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px 12px;
}

.money-img {
  width: 150px;
}

.divisa {
  padding: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.divisa select {
  padding: 10px 20px 10px 10px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 1px solid #dedede;
  font-size: 16px;
  background: transparent;
}

.divisa input {
  border: 0;
  background: transparent;
  font-size: 30px;
  text-align: right;
}

.swap-rate-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.rate {
  color: #408576;
  font-weight: bolder;
  font-size: 14px;
  padding: 0 10px;
}


